* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 56px;
  background-color: #f8f9fa;
  color: #000000;
}

a {
  text-decoration: none;
}

/* NAVBAR */

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-nav .nav-link.active {
  text-decoration: underline;
}

.navbar-nav .nav-link:hover {
  text-decoration: underline;
}

@media (max-width: 991px) {
  .navbar-nav {
    font-size: 14px;
  }
}

/* SECTION brand-container */

.brand-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.brand-name h1 {
  font-size: 32px;
  color: #333333;
  text-transform: uppercase;
  font-weight: bold;
}

.brand-description p {
  margin: 0;
  font-size: 14px;
  color: #555555;
}

@media (max-width: 767px) {
  .brand-container {
    flex-direction: column;
    align-items: center;
  }
}

/* SECTION home */

.home-container {
  padding: 40px 40px 0px 40px;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-areas: "home-img home-data";
}

.home-img {
  grid-area: home-img;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-img img {
  width: 50%;
}

.home-data {
  grid-area: home-data;
  border-radius: 15px;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #ede1d2;
}

.home-title {
  padding-bottom: 1rem;
  font-size: 2rem;
  color: #333333;
}

.home-subtitle {
  color: #806044;
}

.home-description {
  padding: 1rem 0;
  width: 50%;
}

@media only screen and (max-width: 576px) {
  .home-container {
    padding-top: 20px;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
      "home-img"
      "home-data";
  }
  .home-img {
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 992px) {
  .home-description {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/* SECTION about */

.about-container {
  padding: 80px 40px 0px 40px;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-areas: "about-data about-img";
}

.about-img {
  grid-area: about-img;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-img img {
  width: 50%;
}

.about-data {
  grid-area: about-data;
  border-radius: 15px;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #ede1d2;
}

.about-title {
  padding-bottom: 1rem;
  color: #333333;
}

.about-description {
  padding-bottom: 1rem;
  width: 50%;
}

@media only screen and (max-width: 576px) {
  .about-container {
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
      "about-img"
      "about-data";
  }
  .about-img {
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 992px) {
  .about-description {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/* BUTTON */

.button {
  cursor: pointer;
  background-color: #806044;
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: bold;
  width: fit-content;
}

.button:hover {
  background-color: #cbb89d;
}

.button a {
  color: #f2f2f2;
}

/* SECTION skills */

.skills {
  padding: 80px 40px 0px 40px;
}

.skills-container {
  border-radius: 15px;
  padding: 3rem 0;
  text-align: center;
  background-color: #646f4c;
}

.skills-container:hover {
  box-shadow: 2px 2px 5px #00000030;
  transition: 0.5s all;
}

.skills-title {
  padding-bottom: 0.5rem;
  color: #f2f2f2;
}

.skills-img img {
  width: 50px;
  height: 50px;
  margin: 1rem;
}

.skills-img img:hover {
  opacity: 0.6;
  cursor: pointer;
}

/* ACCORDION */

.accordion-item {
  width: 50%;
  margin: auto;
  border: 1px solid #80604430;
  margin-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #f8f8f8;
}

@media only screen and (max-width: 768px) {
  .accordion-item {
    width: 90%;
  }
}

.accordion-header {
  background-color: #00000030;
  color: #000000;
  padding: 10px;
  cursor: pointer;
}

.accordion-content {
  padding: 10px;
}

/* SECTION projects */

.projects-container {
  padding: 80px 40px 0px 40px;
  position: relative;
  color: #333333;
  text-align: center;
}

.projects-title {
  padding-bottom: 0.5rem;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  margin: 1rem;
}

.project h4 {
  display: flex;
  flex-direction: column;
  position: absolute;
  color: #806044;
  background-color: #ede1d2;
  border-radius: 10px;
  border: 1px solid #80604430;
  padding: 15px;
  font-size: 16px;
  text-transform: uppercase;
  z-index: 1;
}

.projects h4 small {
  display: block;
}

.project img {
  height: 160px;
  width: 260px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 2px 5px 0 #00000030;
}

.project img:hover {
  opacity: 0.6;
}

.project h4 a img {
  height: auto;
  width: auto;
  background-color: #806044;
}

/* SECTION contact */

.contact {
  padding: 80px 40px 80px 40px;
  text-align: center;
  color: #f2f2f2;
}

.contact-background {
  background-color: #646f4c;
  border-radius: 15px;
  padding: 3rem 0;
}

.contact-background:hover {
  box-shadow: 2px 2px 5px #00000030;
  transition: 0.5s all;
}

.contact-phone {
  margin: 1rem;
}

.contact-email {
  margin: 1rem;
}

.contact-location {
  margin: 1rem;
}

.contact-img {
  padding-bottom: 0.5rem;
  width: 9%;
}

.contact-title {
  padding-bottom: 0.5rem;
}

.contact-subtitle {
  color: #f2f2f2;
}

.contact-container {
  padding-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "phone email location";
}

@media only screen and (max-width: 576px) {
  .contact-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "phone"
      "email"
      "location";
  }
  .contact-title {
    padding: 0;
  }
}

.contact-phone {
  grid-area: phone;
}

.contact-email {
  grid-area: email;
}

.contact-location {
  grid-area: location;
}

/* FOOTER */

.footer {
  cursor: default;
}

.footer-container {
  padding: 0px 40px 40px 40px;
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  grid-template-areas: "footer-data footer-socials";
}

.footer-data {
  grid-area: footer-data;
}

.footer-subtitle {
  font-size: 0.8rem;
}

.footer-socials {
  grid-area: footer-socials;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-socials img {
  width: 20px;
  height: 20px;
  margin: 0.5rem;
}

.footer-socials img:hover {
  opacity: 0.6;
}

@media only screen and (max-width: 576px) {
  .footer-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "footer-data"
      "footer-socials";
  }
}
